<config>
  <!-- Slot Control -->
  <power v='full'/>

  <!-- User Information -->
  <passkey v='36f1b162979e577436f1b162979e5774'/>
  <team v='234980'/>
  <user v='39gbg2b573fi'/>

  <!-- Folding Slots -->
  
   <slot id='1' type='GPU'>
    <pci-bus v='0'/>
    <pci-slot v='5'/>
  </slot>
</config>
