<config>
  <!-- Slot Control -->
  <power v='full'/>

  <!-- User Information -->
  <passkey v='38b9a920b554f31238b9a920b554f312'/>
  <team v='234980'/>
  <user v='llhbncvsq4vg'/>

  <!-- Folding Slots -->
  
   <slot id='1' type='GPU'>
    <pci-bus v='0'/>
    <pci-slot v='2'/>
  </slot>
</config>
